@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple Reset */
* {
  margin: 0;
  padding: 0;
  list-style:none; 
  box-sizing: border-box;
  vertical-align:baseline;
}

body {
  background-color: #191919;
}

nav a.router-link-exact-active {
  color: #6366f1;
  border-bottom: 2px dashed #6366f1;
}
